/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --root-border: rgba(233, 237, 238, 1);
  --ion-background-color: rgba(242, 244, 248, 1);

  /** transition **/
  --transition-duration: 0.3s;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all var(--transition-duration) ease;
  position: absolute;
  width: 100%;
}

.slide-left-enter-from {
  transform: translateX(100%);
}

.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter-from {
  transform: translateX(-100%);
}

.slide-right-leave-to {
  transform: translateX(100%);
}
